on:
  workflow_dispatch:
  schedule:
    #- cron: "0 0 * * *"
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +"%Y-%m-%d %H:%M:%S")" >> $GITHUB_ENV
        shell: bash

      - name: Checkout codebase
        uses: actions/checkout@v3
        with:
          path: code

      - name: Build
        run: |
          cd code || exit 1
          go run main.go
          mv -f gfwlist.txt ../
          mv -f clash.txt ../
          mv -f rocket.txt ../
          cd ../ && rm -rf code

      - name: Generate gfwlist.txt sha256 hash
        run: |
          sha256sum gfwlist.txt > gfwlist.txt.sha256sum
          sha256sum clash.txt > clash.txt.sha256sum
          sha256sum rocket.txt > rocket.txt.sha256sum

      - name: Git push assets to "release" branch
        run: |
          git init
          git config --local user.name "mygfw"
          git config --local user.email "101572846+mygfw@users.noreply.github.com"
          git checkout -b release
          git add *.txt *.sha256sum
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release

      - name: Purge jsdelivr CDN
        run: |
          for file in $(ls *.txt); do
            curl -s -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@release/${file}"
          done